.content-body{

  min-height:100%;
  padding: 60px 1rem;
  background: #16bca8;
  display: block;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color:#3f51b5;

}

.navbar {
  justify-content: space-between;

}

span{
    padding-right:1rem;
}






