<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
  <a href="" class="navbar-brand ">
    Admin Panel
   </a>
   <ul class="navbar-nav ml-auto">
     <li class="nav-item"><a routerLink=""  class="nav-link">Home</a></li>
      <li class="nav-item" ><a routerLink ="/admin/sinup"   class="nav-link">SingUp</a></li>
      <li class="nav-item" ><a routerLink ="/admin/login"   class="nav-link">Login</a></li>
    </ul>
 </nav> -->
<!-- <div class="content-body "></div> -->
<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3 form-contanier">
       <div>
       <h1><b class="bv"> Welcome to Manager panel</b> </h1>
       <p>
         Assignment project for manager login and signup.
       </p>    
       
       
      </div>
      
      </section>
      </section>
      </section>